{% extends "base.html" %}

{% block head_content %}
    <title>Feed</title>
{% endblock%}

{% block container %}
    <div class="container">
        <div class="row">

            {% for post in posts %}
            <div class="col-sm-12 col-md-8 offset-md-2 mt-5 p-0 post-container">
                {% include "posts/post_card.html" %}
            </div>
            {% endfor %}
        </div>
    </div>

    {% include 'pagination.html' %}
{% endblock %}