{% extends "users/base.html"%}
{% block head_content %}
<title>login</title>
{% endblock %}
{% block container %}
    {% if form.errors %}
        <p class="alert alert-danger">Datos de cuenta incorrectos</p>
    {% endif %}
    <form action="{% url 'users:login' %}" method="post">
        <!-- csrf token for validate this form to submit to the endpoint -->
        {% csrf_token %}
        <div class="form-group">
            <input type="text" name="username" class="form-control"
            placeholder="Usuario" required='true'>
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control"
                placeholder="Contraseña" required='true'>
        </div>
        <button class="btn btn-primary btn-block mt-5" type="submit">Login</button>
    </form>
    <p class="mt-4">Aun no tienes una cuenta? <a href="{% url 'users:signup' %}">Registrate aquí</a></p>
{% endblock%}
