{% extends 'users/base.html' %}
{% block head_content %}
<title>Signup</title>
{% endblock %}

{% block container %}
    {% if error %}
        <p class="alert alert-danger">{{error}}</p>
    {% endif %}
    <h1>Sign up</h1>
    <form action="{% url 'users:signup' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-primary btn-block mt-5" type="submit">Signup</button>
    </form>
{% endblock %}
